body {
    background-color: white;
}

.firstSection{
	background-image: url('../images/farmwall.jpg');
	background-size: cover;
    height: auto;
    width: auto;
}


.btn:hover, .navbtn:hover, .btn:focus, .navbtn:focus, .btn:active , .navbtn:active{
  background-color: green;
  color:white;
}

.btn{
	background-color:white;
	color:green;
}

.btn-primary{
	color:green;
}

.btn-success {
	color:green;
}

.navbtn{
	color:green;
	padding: 5px 10px;
    font-size: 22px;
    border-radius: 2px;
}

p.info{
	text-transform: uppercase;
	font-weight: bold;
}

img.gifimage{
	height: 60%;
	width: 20%;
    border:1px solid gray;
}

span.highlight {
	color: Green;
	background-color: white;
	font-size: 15;
}

span.highlighth4 {
	color: 	#6B8E23;
	font-size: 20;
}

span.highlighth1 {
	color: 	#6B8E23;
}

