<div>
<fieldset class="panel-body">
  <h4> <span class="highlighth4">Get in Touch </span></h4>
  <div class="row">
    <div class="col-xs-5">
      <div class="checkbox checkbox-slider--b-flat checkbox-slider-md"> 
        <label>
        <input 
              ng-model="contact.isPreviousContact"
              type="checkbox"><span>Contacted Us Before ?</span>
        </label>
      </div> 
      <div class="form-group">
        <label for="firstName">అసలు పేరు </label>
        <input 
               class="form-control" 
               id="firstName"
               ng-model="contact.firstName"
               placeholder="First name">
      </div>
      <div class="form-group">
        <label for="lastName">ఇంటి పేరు </label>
        <input 
               class="form-control" 
               id="lastName"
               ng-model="contact.lastName"
               placeholder="Last name">
      </div>
      <div class="form-group">
        <label for="phoneNumber">ఫోన్ నెంబర్  <small>(Optional)</small></label>
        <input 
              class="form-control"  
              id="phoneNumber"
              ng-model="contact.phoneNumber"
              placeholder="Phone number">
      </div>
      <div class="checkbox checkbox-slider--c-weight checkbox-slider-md"> 
        <label>
        <input 
              ng-model="contact.isBuyer"
              type="checkbox"><span>Buyer</span>
        </label>
      </div>
    <div class="checkbox checkbox-slider--c-weight checkbox-slider-md"> 
       <label>
       <input 
             ng-model="contact.isGrower"
             type="checkbox"><span>Grower</span>
       </label>
    </div>
    <div>
    <button  
          class="btn btn-primary" 
          ng-click="contactSubmit()">click this no matter what</button> 
   <div ng-if="contactSubmitted" 
       class="well" 
       ng-include="'templates/info1.html'"></div>
  </div>

  </div>

   
</fieldset>
</div>
