<div class="header">
<div class="row ">
  <div class="col-md-1">
  </div>
  <div class="col-md-4"> 
      <img class="animated infinite pulse" src="images/sss.png" >
  </div>
  <div class="col-md-7 panel-body" >
    <div class="" ng-include="'templates/navbar.html'"></div>
    <div class="col-md-9 text-center animated bounceInDown">
      <span class="glyphicon glyphicon-phone highlighth4"></span> 
       Call <strong> +91-9849270945 </strong>
      <span class="glyphicon glyphicon-leaf highlighth4"></span>
      <strong> Warangal , Telangana, India</strong>
    </div>
  </div>
</div>
</div>