<div class="header">
<div class="row panel-body">
  <div class="col-md-1">
  </div>
  <div class="col-md-5"> 
    <h1  class="animated fadeInUp">
      <img class="animated infinite pulse img-circle pull-left" src="images/logo.png" width="60px" height="60px"> &nbsp;
      <span class="highlighth1" title-card title-info="Sowjanya Agrotech"></span>
    </h1>
  </div>
  <div class="col-md-5">
    <div class="" ng-include="'templates/navbar.html'"></div>
    <div class="panel-body animated bounceInDown">
      <span class="glyphicon glyphicon-phone highlighth4"></span> Call <strong> +91-9849270945 </strong>
      <span class="glyphicon glyphicon-leaf highlighth4"></span><strong> Hunter Road, Warangal , Telangana, India </strong>
    </div>
  </div>
</div>
</div>