<ul class="nav nav-tabs animated fadeInUp">
  <li><a ui-sref="home" ui-sref-active="btn"><span class="navbtn"> 
      <span class="glyphicon glyphicon-home higlighth4"></span>
      </span></a></li>
  <li><a ui-sref="varieties" ui-sref-active="btn"><span class="navbtn"> Varieties </span></a></li>
   <li><a ui-sref="market" ui-sref-active="btn"><span class="navbtn"> Market </span></a></li>
  <li><a ui-sref="production" ui-sref-active="btn"><span class="navbtn"> Production </span></a></li>
  <li><a ui-sref="gallery" ui-sref-active="btn"><span class="navbtn"> Gallery </span></a></li>
  <li><a ui-sref="message" ui-sref-active="btn"><span class="navbtn"> Message Us</span></a></li>
</ul>